.userCard {
    width: 400px;
    background-color: whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.361);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
}

.img {
    width: 170px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    outline: 3px solid rgb(120, 120, 120);
    padding: 5px;
}

img {
    width: 100%;
    border-radius: 50%;
}

.about {
    border-top: 2px solid rgb(120, 120, 120);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.title {
    font-size: large;
    margin-bottom: 0;
    color: rgb(63, 63, 63);
}


.titleInfo {
    font-size: 22px;
}


.userContainer {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 50px 20px;
    gap: 40px;
}

body {
    display: block;
    padding: 40px;
    background-color: rgb(208, 208, 208);
}


.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px 0 15px;
}

.icons svg {
    width: 20px;
    padding-top: 5px;
    fill: rgb(21, 144, 111);
    cursor: pointer;
}

.icons svg:hover{
    fill: rgb(15, 116, 89);
}


.currentInfo {
    border-top: 2px solid rgb(21, 144, 111);
}

.search{
    border: none;
    background-color: rgba(21, 144, 111, 0.375);
    padding: 13px;
    width: 40%;
    max-width: 200px;
    border-radius: 20px;
    box-shadow: inset 0 5px 10px rgba(1, 42, 30, 0.322);
}

.toolbar , .btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar{
    width: 82%;
    margin: auto;
}


button{
    border: none;
    background-color: rgba(21, 144, 111, 0.375);
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 0 5px 10px rgba(1, 42, 30, 0.322);
    margin-left: 10px;
    font-weight: 600;
}
button:hover{
    box-shadow: 0 5px 10px rgba(1, 42, 30, 0.462);
}

.activeBtn{
    box-shadow: 0 5px 10px rgba(1, 42, 30, 0.462);
}


